body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    text-align: center;
    border: medium solid var(--main-orange);
    padding: 10px;
    border-radius: 10px;
}

input {
    border-radius: 8px;
    border-style: solid;
    border-width: thin;
    margin: 5px;
    padding: 4px 4px 4px 4px;
}


input:focus {
    border-color: var(--main-orange);
}

input[type=submit] {
    border-width: medium;
    border-color: black;
    background: none;
    padding: 3px 10px 3px 10px;
}
