* {
    margin:0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

#content-container {
    text-align: center;
    height: 400px;
}

#logo {
    width: 400px;
    max-width: 100%;
    
}

#check-in-out-button {
    font-size: 2rem;    
}
