* {
    margin:0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

#content-container {
    text-align: center;
    height: 450px;
}


#login-fail-text {
    color: red;
    font-size: 0.8rem;
}


input {
    border-radius: 8px;
    border-style: solid;
    border-width: thin;
    margin: 5px;
    padding: 4px 0px 4px 0px;
}


input:focus {
    border-color: var(--main-orange);
}

#log-in-button {
    border-width: medium;
    border-color: var(--main-orange);
    background: none;
    padding: 3px 10px 3px 10px;
}

#logo {
    width: 400px;
    max-width: 100%;
    
}
